<h4>Login</h4>
<%= form_tag(login_path) do %>
  <%= label_tag :email %>
  <div><%= text_field_tag :'user[email]' %></div>
  <%= label_tag :password %>
  <div><%= password_field_tag :'user[password]' %></div>
  <br>
  <%= submit_tag "Submit" %>
<% end %>

